.main {
	border: 2px solid #FF0000;
	width: 800;
	height: 500;
	margin: 0 auto;
	background: url(../img/mainback.png) left top repeat;
}

#gfield {
	margin: 0 auto;
	text-align: center;
}

header .top {
	width: 721px;
	height: 73px;
	margin: 0 auto;
	line-height: 1.3;
	padding: 27px 6px 0 6px;
}

.gbtn {
	font-size: 50px;
	margin: 20px;
	width: 100px;
	height: 100px;
	background-color: #333;
	color: #fff;
}

.gbtn:hover {
	background-color: #59b1eb;
}

.gbtn:disabled {
	background-color: #59b1eb;
}
